.app {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: var(--secondary-color);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: var(--header-height) 1fr;
  grid-template-columns: 60px 1fr 3fr;
  grid-template-areas:
    "header header header"
    "nav direct conversation";
}

header {
  background-color: var(--main-color);
  grid-area: header;
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
}

.direct-messages {
  grid-area: direct;
}

.conversation {
  grid-area: conversation;
  background-color: white;
}

nav img {
  max-width: 100%;
  margin: 20px 10px;
  border-radius: 8px;
}

.current-user {
  cursor: pointer;
}

.profile-image {
  padding: 0px;
  margin: 15px;
  border: none;
  border-radius: 8px;
  max-width: 40px;
}
