.direct-messages {
  text-align: left;
  text-wrap: nowrap;
}

.dm-header h3 {
  color: white;
  padding: 0px 20px;
}

.dm-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dm-header button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0px 10px;
}

.icon {
  width: 20px;
  height: 20px;
  filter: invert(100%);
}

.user button {
  margin: 0px 10px;
  width: 90%;
  font-size: small;
  display: flex;
  align-items: left;
  justify-content: left;
  color: white;
}

.users-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
