input,
button {
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  font-size: large;
  border: 1px solid lightgray;
}

.form-field {
  display: flex;
  gap: 8px;
  flex-direction: column;
  font-size: medium;
}

.form-field label {
  text-align: left;
  font-weight: 600;
}
