:root {
  --conv-header-height: 80px;
  --send-msg-box-height: 160px;
}

.conversation {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
}

.conversation button {
  background-color: inherit;
  color: black;
  width: fit-content;
}

.conversation button:hover {
  background-color: whitesmoke;
  filter: none;
}

.conversation button.confirm:hover {
  background-color: darkgreen;
}

.chat {
  display: grid;
  grid-template-rows: var(--conv-header-height) 1fr var(--send-msg-box-height);
}

.new-msg-header {
  display: flex;
  font-weight: bolder;
  font-size: large;
  padding: 10px 20px;
}
